@page "/createCliente";

@inject ClientesService clienteservice;
@rendermode InteractiveServer
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager

<EditForm Model="clientes" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />
    <div class="card shadow-lg border-0 rounded" style="background-color: #f8f9fa;">

        <div class="card-header bg-primary text-white text-center py-2 rounded">
            <h3 style="font-weight: bold;" class="mb-0 font-weight-bold">Registrar Clientes</h3>
        </div>

        <div class="card-body">

            <div class="row">
                <div class="col-md-6 mb-3">
                    <label style="font-weight: bold;" for="Nombres" class="form-label">Nombres:</label>
                    <InputText @bind-Value="clientes.Nombres" class="form-control" placeholder="Ingrese sus nombres" />
                    <ValidationMessage For="@(() => clientes.Nombres)" />
                </div>

                <div class="col-md-6 mb-3">
                    <label style="font-weight: bold;" for="RNC" class="form-label">RNC:</label>
                    <InputText @bind-Value="clientes.RNC" class="form-control" placeholder="Ingrese el RNC" />
                    <ValidationMessage For="@(() => clientes.RNC)" />
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 mb-3">
                    <label style="font-weight: bold;" for="Telefono" class="form-label">Tel&eacute;fono:</label>
                    <InputText @bind-Value="clientes.Telefono" class="form-control" placeholder="Ingrese el Tel&eacute;fono" />
                    <ValidationMessage For="@(() => clientes.Telefono)" />
                </div>

                <div class="col-md-6 mb-3">
                    <label style="font-weight: bold;" for="Celular" class="form-label">Celular:</label>
                    <InputText @bind-Value="clientes.Celular" class="form-control" placeholder="Ingrese el Celular" />
                    <ValidationMessage For="@(() => clientes.Celular)" />
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 mb-3">
                    <label style="font-weight: bold;"  for="Email" class="form-label">Email:</label>
                    <InputText @bind-Value="clientes.Email" class="form-control" placeholder="Ingrese el Email" />
                    <ValidationMessage For="@(() => clientes.Email)" />
                </div>

                <div class="col-md-6 mb-3">
                    <label style="font-weight: bold;" for="Direccion" class="form-label">Direcci&oacute;n:</label>
                    <InputText @bind-Value="clientes.Direccion" class="form-control" placeholder="Ingrese la Direcci&oacute;n" />
                    <ValidationMessage For="@(() => clientes.Direccion)" />
                </div>
            </div>

        </div>

        <div class="card-footer bg-light d-flex justify-content-end">
            <div class="btn-group">
                <a type="button" href="/indexcliente/" class="btn btn-outline-danger"><span class="fas fa-arrow-left"></span> Retroceder </a>
                <button type="submit" class="btn btn-outline-success"><span class="fas fa-save"></span> Guardar </button>
            </div>
        </div>
    </div>
</EditForm>


    <div class="exito-contenedor-invalido" style="@fracasoContenedorEstilo">
        <div id="fracaso-mensaje" class="mensaje-contenedor">@mensajeFracaso</div>
    </div>
    <div class="exito-contenedor-valido" style="@exitoContenedorEstilo">
        <div id="exito-mensaje" class="mensaje-contenedor">@mensajeExito</div>
    </div>



@code {

    public Clientes clientes = new Clientes();

    private string mensajeExito = "";
    private string mensajeFracaso = "";
    private string exitoContenedorEstilo = "display: none;";
    private string fracasoContenedorEstilo = "display: none;";


    public async Task Guardar()
    {
        var guardo = await clienteservice.Guardar(this.clientes);
        if (guardo)
        {
            await MostrarMensaje("Guardado Existoso.", "Valido", "guardadoExito.mp3");
            NavigationManager.NavigateTo("/indexcliente");
        }
        else
        {
            await MostrarMensaje("El Nombre o RNC ya exite...", "Invalido", "datosexiste.mp3");
        }
    }

    public async Task MostrarMensaje(string mensaje, string tipoMensaje, string audio)
    {
        if (tipoMensaje == "Valido")
        {
            mensajeExito = mensaje;
            exitoContenedorEstilo = "display: block;";
            fracasoContenedorEstilo = "display: none;";

            await ReproducirAudio(audio);

            await Task.Delay(4500);
            exitoContenedorEstilo = "display: none;";
            StateHasChanged();
        }
        else if (tipoMensaje == "Invalido")
        {
            mensajeFracaso = mensaje;
            fracasoContenedorEstilo = "display: block;";
            exitoContenedorEstilo = "display: none;";

            await ReproducirAudio(audio);

            await Task.Delay(4500);
            fracasoContenedorEstilo = "display: none;";
            StateHasChanged();
        }
    }

    private async Task ReproducirAudio(string audio)
    {
        await JSRuntime.InvokeVoidAsync("playAudio", "recursos/audios/" + audio);
    }
}
