@page "/indextickets"

@inject TicketsService ticketsservice;
@rendermode InteractiveServer
@inject IJSRuntime JSRuntime


<EditForm Model="ListaTickets" class="border shadow-lg p-3 rounded">
    <div class="card-header bg-primary text-white text-center py-2 rounded">
        <h3 style="font-weight: bold;"  class="mb-0 font-weight-bold">Centro de Tickets</h3>
    </div>
    <div class="card-body">
        <div class="row mb-3 align-items-end">
            <div class="col-md-3">
                <label style="font-weight: bold;"  for="Filtro" class="form-label">Filtrar por:</label>
                <select @bind="filtro" class="form-select">
                    <option value="ticketId">Ticket ID</option>
                    <option value="clienteId">Cliente ID</option>
                    <option value="asunto">Asunto</option>
                </select>
            </div>
            <div class="col-md-6">
                <label style="font-weight: bold;" for="ValorFiltro" class="form-label">B&uacute;squeda:</label>
                <div class="input-group">
                    <input @bind="valorFiltro" class="form-control" placeholder="Buscar" />
                    <button @onclick="Buscar" class="btn btn-outline-primary" type="button">
                        <span class="fas fa-search"></span> Buscar
                    </button>
                </div>
            </div>
            <div class="col-md-3 text-end">
                <a href="/createticket" class="btn btn-success" type="button"><span class="fas fa-plus"></span> Crear </a>
            </div>
        </div>
    </div>
    <table class="table table-bordered text-center">
        <thead class="bg-primary text-white">
            <tr>
                <th>Ticket ID</th>
                <th>Solicitado por</th>
                <th>Asunto</th>
                <th>Fecha</th>
                <th>Cliente ID</th>
                <th>Sistema ID</th>
                <th>Prioridad</th>
                <th>Editar</th>
                <th>Detalle</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            @if (ListaTickets.Any())
            {
                @foreach (var ticket in ListaTickets)
                {
                    <tr>
                        <td>@ticket.TicketId</td>
                        <td>@ticket.Solicitadopor</td>
                        <td>@ticket.Asunto</td>
                        <td>@ticket.Fecha</td>
                        <td>@ticket.ClienteId</td>
                        <td>@ticket.SistemaId</td>
                        <td>@ticket.PrioridadId</td>
                        <td>
                            <a href="/editarticket/@ticket.TicketId" style="border: none; background-color: transparent;" class="btn-editar">
                                <img style="width: 32px; height: 32px;" src="./recursos/editar.png" alt="editar" />
                            </a>

                        </td>
                        <td>
                            <a href="/detailsticket/@ticket.TicketId" style="border: none; background-color: transparent;" class="btn-detalle">
                                <img style="width: 32px; height: 32px;" src="./recursos/detalle.png" alt="detalle" />
                            </a>
                        </td>
                        <td>
                            <a href="/deleteticket/@ticket.TicketId" style="border: none; background-color: transparent;" class="btn-eliminar">
                                <img style="width: 32px; height: 32px;" src="./recursos/eliminar.png" alt="eliminar" />
                            </a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="7" class="text-center">No se ha encontrado ningun ticket.</td>
                </tr>
            }
        </tbody>
    </table>
</EditForm>

<div class="exito-contenedor-invalido" style="@fracasoContenedorEstilo">
    <div id="fracaso-mensaje" class="mensaje-contenedor">@mensajeFracaso</div>
</div>
<div class="exito-contenedor-valido" style="@exitoContenedorEstilo">
    <div id="exito-mensaje" class="mensaje-contenedor">@mensajeExito</div>
</div>


@code {

    public Tickets tickets = new Tickets();

    private string mensajeExito = "";
    private string mensajeFracaso = "";
    private string exitoContenedorEstilo = "display: none;";
    private string fracasoContenedorEstilo = "display: none;";

    private string filtro = "ticketId";
    private string valorFiltro = "";


    public List<Tickets> ListaTickets = new List<Tickets>();

    protected override async Task OnInitializedAsync()
    {
        ListaTickets = await ticketsservice.Listar(t => true);
    }


    private async Task Buscar()
    {
        if (valorFiltro.Trim() != "")
        {

            if (filtro == "ticketId" && int.TryParse(valorFiltro, out int ticketId))
            {
                ListaTickets = await ticketsservice.Listar(t => t.TicketId == ticketId);
            }

            else if (filtro == "clienteId" && int.TryParse(valorFiltro, out int clienteId))
            {
                ListaTickets = await ticketsservice.Listar(t => t.ClienteId == clienteId);
            }
            else if (filtro == "asunto")
            {
                ListaTickets = await ticketsservice.Listar(t => t.Asunto == valorFiltro);
            }

            if (ListaTickets == null || ListaTickets.Count == 0)
            {
                await MostrarMensaje("Ticket no encontrado", "Invalido", "ticketnoencontrado.mp3");
            }
        }
        else
        {
            ListaTickets = await ticketsservice.Listar(t => true);
        }
    }

    public async Task MostrarMensaje(string mensaje, string tipoMensaje, string audio)
    {
        if (tipoMensaje == "Valido")
        {
            mensajeExito = mensaje;
            exitoContenedorEstilo = "display: block;";
            fracasoContenedorEstilo = "display: none;";

            await ReproducirAudio(audio);

            await Task.Delay(4500);
            exitoContenedorEstilo = "display: none;";
            StateHasChanged();
        }
        else if (tipoMensaje == "Invalido")
        {
            mensajeFracaso = mensaje;
            fracasoContenedorEstilo = "display: block;";
            exitoContenedorEstilo = "display: none;";

            await ReproducirAudio(audio);

            await Task.Delay(4500);
            fracasoContenedorEstilo = "display: none;";
            StateHasChanged();
        }
    }

    private async Task ReproducirAudio(string audio)
    {
        await JSRuntime.InvokeVoidAsync("playAudio", "recursos/audios/" + audio);
    }

}
